/* Import Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Body styles */
body {
  color: rgb(var(--foreground-rgb));
  /* Set the background to the background image */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
  background-image: url('../public/_8dd0afd8-2670-4280-85a1-2ce45a2d6669.jpeg'); 
 
  background-size: cover; */
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Additional styles */
textarea {
  color: black; 
  font-size: 16px; /* Adjust the font size as needed */
  font-family: Arial, sans-serif; /* Set a readable font family */
}
.transparent-background {
  background-image: url('../public/_8dd0afd8-2670-4280-85a1-2ce45a2d6669.jpeg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-color: rgba(255, 255, 255, 0.664); /* Adjust the RGB values and alpha value as needed */
}

